
html {
	width: 100%; 
	height: 100%;
}

body {
	background: #FAFAFA;
	width: 100%; 
	height: 100%;
}

.wrapper {
	margin: 0;
	padding:0;
	width: 100%;
	height: 100%;
}

.row {
	margin: 0;
}

#header {
	background: #00695C;
	padding: 0.5px;
	margin-bottom: 0;
	margin-top: 0;
}

.btn-primary {
	padding: 5px;
	background: #757575;
	border-color: #757575;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
}

.btn-primary:hover {
	background: #616161;
	border-color: #616161;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
	
}

.btn-primary.active {
	background: #424242;
	border-color: #424242;
}

.btn-secondary {
	padding: 5px;
	background: #757575;
	border-color: #757575;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
}

.btn-secondary:hover {
	background: #616161;
	border-color: #616161;
	color: white;
	font-weight: lighter;
	letter-spacing: 2px;
	
}

.btn-secondary.active {
	background: #424242;
	border-color: #424242;
	color: white;
}

.rating {

	padding-left: 0%;
}

/*#buttonsy {
	width: 60%;
}*/

h2 { 
	font-weight: bold;
	text-align: center;
	vertical-align: center;
	color: white;
	letter-spacing: 2px;
}

h3 {
	font-size: 19px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 0px;
}

h4 {
	font-size: 19px;
	font-weight: normal;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 5px;
}

#vis {
  width: 940px;
  height: 600px;
  clear: both;
  margin-bottom: 10px;
}

/*#indexView {
	float: left;
}*/

.explanation {
	/*background-color: rgba(150, 150, 150, 0.9); /*#9E9E9E (158, 158, 158), #3E2723
	outline: #616161;
	border-radius: 8px;
	padding: 5px;*/
	font-weight: lighter;
	color: white;
	letter-spacing: 1px
}

#interests {
	width: 20%;
	padding-top: 10%;
	padding-bottom: 50%
}

#options {
	float: right;}

.tooltip {
	background-color: rgba(62, 39, 35, 0.7); /*#9E9E9E (158, 158, 158), #3E2723*/
	outline: #616161;
	border-radius: 8px;
	padding: 5px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px
}

.overall {
	font-weight: normal;
	font-size: 18px;
}

.btn-third {
	border-radius: 50%;
}



/* ============= auto generate ============= */

#keepOffLeft {
	margin-left: 5px;
}

#keepCenter {
	position: center;
}